<footer class=" sticky-bottom">
<div class="fa-info">
  <div class="fa-info-socials">
<i class="fa-brands fa-facebook"></i>

<i class="fa-brands fa-square-instagram"></i>
<i class="fa-brands fa-linkedin"></i>
  </div>
<div class="fa-services">&copy: Webservices Private Limited</div>
<div class="fa-info-links">
   <a href="/privacy">Privacy</a>
   <a href="/terms">Terms</a>



</div>



</div>




</footer>