<style>.footer {
  background: #f8f9fa;
  padding: 15px 0;
  border-top: 1px solid #ddd;
}</style>



<footer class="footer mt-auto">
  <div class="fa-info text-center">
    <div class="fa-info-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>

    <div class="fa-services">&copy; Webservices Private Limited</div>

    <div class="fa-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
