 <% layout("/layouts/boilerPlate") %>

 
  <body>
    <h2>All Listings</h2>
   <form action="/listings/new" method="GET">
      <button type="submit">Create New Listing</button>
   </form>

 <div style=" display: flex;  flex-wrap: wrap;" >



     <%   for(listing of listings) {  %>

      <a class="row" href=" /listings/<%= listing._id%>">
   <div class="card" style="width: 15rem;">
  <img src="<%= listing.images %>" class="card-img-top" alt="listing_image" style="height: 15rem;"> 
  
  <div class="card-body">
    <p class="card-text">
    <h5><%= listing.title %></h5>
      <p>Price: &#8377 <%= listing.price.toLocaleString("en-IN")%> /night</p>
    
    </p>
  </div>
</div>
 <% } %>
</a>
 </div>
  </body>
 